* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* ? Navegação */
.nav_bar {
  background: #f77e14;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 2px solid rgba(0, 0, 0, 0.193);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

#nav_logo {
  background-color: #193992;
  background-image: linear-gradient(to top, #8493b9 0%, #193992 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav_menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_item {
  height: 80px;
}

.nav_links {
  color: #193992;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.nav_links:hover {
  color: #fff;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.nav_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 3% 8%;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #102663;
  background: -webkit-linear-gradient(to right, #f3904f, #3b4371);
  background: linear-gradient(to right, #f3904f, #3b4371);
  color: #fff;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .nav_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .nav_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.4s ease;
    z-index: -1;
    background: #fbac66;
  }

  .nav_menu.active {
    background: #f9943c;
    top: 100%;
    opacity: 1;
    transition: all 0.7s ease;
    z-index: 99;
    height: 65vh;
    font-size: 1.6rem;
    border-top: 2px solid rgba(0, 0, 0, 0.193);
    border-bottom: 2px solid rgba(0, 0, 0, 0.193);
  }

  #nav_logo {
    padding-left: 25px;
  }

  .nav_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3 ease-in-out;
    background: #ffffff;
  }

  .nav_item {
    width: 100%;
  }

  .nav_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav_button {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #menu-mobile {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .nav_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #menu-mobile.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #menu-mobile.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #menu-mobile.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* ? Inicial */
.hero {
  background: #f8d1ae; /* ? Imagem de fundo semeador */
  background: to right(#161616, #000000);
  padding: 200px 0;
  height: 100vh;
}

.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero_heading {
  font-size: 50px;
  margin-bottom: 12px;
  color: #161616;
}

.hero_description {
  font-size: 40px;
}

@media screen and (max-width: 786px) {
  .hero_heading {
    font-size: 40px;
  }

  .hero_description {
    font-size: 30px;
  }
}

/* ? Main */
.main {
  background-color: #fbac66;
  padding: 7rem 0;
  height: 100vh;
}

.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  padding: 0 50px;
}

.main_content {
  color: #131313;
  width: 100%;
}

.main_content h1 {
  font-size: 4rem;
  background-color: #2a4eaf;
  background-image: linear-gradient(to top, #355bb9 0%, #0b256c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.main_content h2 {
  font-size: 1.7rem;
}

/* .main_content p {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
} */

.main_button {
  font-size: 1rem;
  background-image: linear-gradient(to top, #355bb9 0%, #0b256c 100%);
  background-size: 100%;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20%;
  border: 1px solid #131313;
  margin-top: 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.main_button a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.main_button:hover {
  background-image: linear-gradient(to top, #355bb9 0%, #28375f 100%);
  transform: scale(1.05);
  transition: all 0.4s ease;
  box-shadow: 0px 1px 5px 0px #000;
}

.main_image {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.main_image-container {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #5d71a2 0%, #19264b 100%);
}

.fa-solid,
.fa-book {
  font-size: 12rem;
}

.main_text {
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .main {
    height: 100%;
  }

  .main_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .main_image {
    display: flex;
    justify-content: center;
  }

  .main_image-container {
    height: 425px;
    width: 425px;
  }

  .main_content {
    text-align: center;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .main_content h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .main_content h2 {
    font-size: 2.2rem;
  }

  /* .main_content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  } */
}

@media screen and (max-width: 480px) {
  .main_image-container {
    width: 250px;
    height: 250px;
  }

  .fa-solid,
  .fa-book {
    font-size: 4rem;
  }

  .main_content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main_content h2 {
    font-size: 1.7rem;
  }

  /* .main_content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  } */

  .main_button {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* ? Contato */
/*
.contact {
  background: #f8d1ae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.contact h1 {
  font-size: 3rem;
  background-color: #2a4eaf;
  background-image: linear-gradient(to top, #355bb9 0%, #0b256c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
*/

.contact_container {
  background-color: #f8d1ae;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contact_title {
  margin-top: 100px;
  font-size: 2rem;
  background-color: #2a4eaf;
  background-image: linear-gradient(to top, #355bb9 0%, #0b256c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.contact_input {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  border-radius: 50px;
}

.contact_menu textarea {
  height: 100px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact_input:focus {
  border: 1px solid #0b256c;
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 1px 5px 0px #000;
}

.contact_input::placeholder {
  color: #0b256c;
}

.contact_menu button {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 15px 45px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, #355bb9, #0b256c);
  cursor: pointer;
  border: 1px solid #131313;
}

.contact_menu button:hover {
  background-image: linear-gradient(to top, #355bb9 0%, #28375f 100%);
  transform: scale(1.05);
  transition: all 0.4s ease;
  box-shadow: 0px 1px 5px 0px #000;
}

.contact_input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_line {
  width: 635px;
  margin-top: 35px;
  border: none;
  height: 1px;
  background-image: linear-gradient(to top, #355ab9af 0%, #0b256cb0 100%);
  border-radius: 20px;
}

.contact_button-container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.contact_button {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
}

.contact_button:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(to top, #355bb9 0%, #28375f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (max-width: 800px) {
  .contact_container {
    height: 140vh;
  }

  .contact_title h1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .contact_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .contact_input {
    width: 80vw;
  }

  .contact_line {
    width: 80vw;
    margin-top: 25px;
    border: none;
    height: 1px;
    background-image: linear-gradient(to top, #355ab9af 0%, #0b256cb0 100%);
    border-radius: 20px;
  }

  .contact_button-container {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  
  .contact_button {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
  }
  
  .contact_button:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(to top, #355bb9 0%, #28375f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}