* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}


html{
  scroll-padding: 65px;
}

html, body {/* ESSE AQ FOI ADICIONADO  */ 

  overflow-x: hidden;

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}



/* ? Navegação */
.nav_bar {
  background: #f77e14;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 2px solid rgba(0, 0, 0, 0.193);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

#nav_logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

#nav_logo img {
  width: 100px;
  margin-left: 30px;
}

.nav_menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.highlight {
  border-bottom: 4px solid #193992;
}

.nav_item {
  height: 80px;
  
}

.nav_links {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  margin: 0px 12px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
  font-size: 20px;
  transform-origin: center bottom;
}

.nav_links:hover {
  color: #193992;
  transform: scale(1.12);
  transition: all 0.3s ease;
}

.nav_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 3% 8%;
  height: 100%;
  width: 100%;
  border: 2px solid #fff;
  outline: none;
  border-radius: 10px;
  color: #fff;
  transition: all 0.3s ease;
  font-weight: bold;
}

.button:hover {
  background-color: #fff;
  color: #193992;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .nav_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .nav_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.4s ease;
    z-index: -1;
    background: #fbac66;
  }

  .nav_menu.active {
    background: #f9943c;
    top: 100%;
    opacity: 1;
    transition: all 0.7s ease;
    z-index: 99;
    height: 27rem;
    font-size: 1.6rem;
    border-top: 2px solid rgba(0, 0, 0, 0.193);
    border-bottom: 2px solid rgba(0, 0, 0, 0.193);
  }

  .nav_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3 ease-in-out;
    background: #ffffff;
  }

  .nav_item {
    width: 100%;
  }

  .nav_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav_button {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #menu-mobile {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .nav_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #menu-mobile.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #menu-mobile.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #menu-mobile.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* ? Inicial */
.hero {
  background: #f8d1ae; /* ? Imagem de fundo semeador */
  background: to right(#161616, #000000);   
  padding: 200px 0;
  height: 72vh;

   /* Definindo a imagem de fundo */
   
   
   background-image: url('/img/rua-background.png'); 
   background-size:cover; 
   background-attachment: fixed; 
   background-position: center; 
   background-repeat: no-repeat; 

}

.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero_heading {
  font-size: 50px;
  margin-bottom: 12px;
  color: #161616;
}

.hero_description {
  font-size: 40px;
}

@media screen and (max-width: 786px) {
  .hero_heading {
    font-size: 40px;
  }

  .hero_description {
    font-size: 30px;
  }

  .hero { /* ESSE AQ FOI ADICIONADO  */ 
     background-size:auto; 
     background-position:-300px;
     background-attachment: fixed; 
  }
}

/* ? Sobre */
.main {
  background-color: #e0dfdf; /*background-color: #fbac66;*/
  padding-top: 1.5rem ;
  padding-bottom: 4rem ;
  
  
}

.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  padding: 0 50px;
  
}

.main_content {
  color: #131313;
  width: 100%;
}

.main_title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

.main_title h1 {
  font-size: 3.4rem;
  background-color: #2a4eaf;
  background-image: linear-gradient(to top, #0b256c 0%, #355bb9 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.main_content h2 {
  font-size: 1.4rem;
  color: rgb(49, 49, 49);
  margin-bottom: 13px;
}

.main_text #hot_text {
  color: rgb(15, 99, 255);
  font-size: 1.4rem;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.127);
}

.main_image {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.main_image-container {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #5d71a2 0%, #19264b 100%);
}

.fa-solid,
.fa-book {
  font-size: 12rem;
}

.main_text {
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .main {
    height: 100%;
  }

  .main_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .main_image {
    display: flex;
    justify-content: center;
  }

  .main_image-container {
    height: 425px;
    width: 425px;
  }

  .main_content {
    text-align: center;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .main_content h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .main_content h2 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 480px) {
  .main_image-container {
    width: 250px;
    height: 250px;
  }

  .main_title h1 {
    font-size: 2rem;
  }

  .fa-solid,
  .fa-book {
    font-size: 4rem;
  }

  .main_content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main_content h2 {
    font-size: 1rem;
    text-align: center;
  }
}

/* ? Infraestrutura e Equipe */

.infra {
  background-color: #f8d1ae; /*background-color: #fbac66;*/
  padding: 7rem 0;
  height: 50rem;

  

  background-image: url(/img/bg_infra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}




.moreAbout_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "texto imagem";
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  padding: 0 50px;
}

.moreAbout_content {
  grid-area: texto;
  color: #131313;
  width: 100%;
}



.moreAbout_content h3 {
  font-size: 1.1rem;
  text-align: justify;
  /* 
  color: rgb(49, 49, 49);
   */
  color: rgb(227, 227, 227);
  margin-bottom: 13px;
  justify-content: center;
  text-align: center;
}

.moreAbout_image-container {
  grid-area: imagem;
  text-align: center;
  align-items: center;
  justify-content: right;
  display: flex;
}

.moreAbout_image {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #5d71a2 0%, #19264b 100%);
}

.moreAbout_text {
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .infra {
    height: 100%;
  }

  .moreAbout_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "texto"
      "imagem";
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .moreAbout_image-container {
    display: flex;
    justify-content: center;
  }

  .moreAbout_image {
    height: 425px;
    width: 425px;
  }

  .moreAbout_content {
    text-align: center;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .moreAbout_content h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .moreAbout_content h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .moreAbout_image {
    width: 250px;
    height: 370px;
  }

  .moreAbout_content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .moreAbout_content h3 {
    font-size: 1rem;
    text-align: center;
  }
}

/* ? Contato */

.contact {
  background: #e9e9e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.contact h1 {
  font-size: 3rem;
  background-color: #2a4eaf;
  background-image: linear-gradient(to top, #355bb9 0%, #0b256c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.contact_container {
  background-color: #fcb77b;
  height: 52rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact_container .contact_menu{
  background-color: rgba(255, 255, 255, 0.493);
  padding: 30px 25px ;
  border-radius: 12px;
}

.contact_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contact_title {
  font-size: 1.5rem;
  background-color: #2551cb;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.contact_input {
  width: 545px;
  height: 60px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
 
}

.contact_menu textarea {
  
  padding-top: 15px;
  border-radius: 15px;
  height: 150px; /* Altura fixa */
    max-height: 200px; /* Altura máxima */
  resize: none; /* Impede o redimensionamento */
  overflow: auto; /* Adiciona uma barra de rolagem se o conteúdo ultrapassar a altura */
}

.contact_input:focus {
  border: 1px solid #5f5f5f;
  transition: all 0.5s ease;
  box-shadow: 0px 1px 5px 0px #0000007d;
}


.contact_menu button {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 15px 45px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, #355bb9, #0b256c);
  cursor: pointer;
  transition: all 0.4s ease;
}

.contact_menu button:hover {
  transform: scale(1.05);
  transition: all 0.4s ease;
  box-shadow: 0px 0px 10px #0f308b9e;
}

.contact_input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_line {
  width: 635px;
  margin-top: 35px;
  border: none;
  height: 1px;
  background-image: linear-gradient(to top, #355ab9af 0%, #0b256cb0 100%);
  border-radius: 20px;
}

.contact_button-container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.contact_button-container .contact_button i {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 38px;
  transition: all 0.4s ease;
  padding: 7px 0px;
}

.contact_button-container .contact_button i:hover {
  transform: scale(1.2);
  transition: all 0.4s ease;
  background-image: linear-gradient(to top, #355bb9 0%, #28375f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (max-width: 800px) {
  .contact_container {
    height: 140vh;
  }

  .contact_title h1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .contact_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .contact_input {
    width: 80vw;
  }

  .contact_line {
    width: 80vw;
    margin-top: 25px;
    border: none;
    height: 1px;
    background-image: linear-gradient(to top, #355ab9af 0%, #0b256cb0 100%);
    border-radius: 20px;
  }

  .contact_button-container {
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .contact_button {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
  }

  .contact_button:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
    background-image: linear-gradient(to top, #355bb9 0%, #28375f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}

/* ? Doação */
.donation {
  background-color: #f8d1ae; /*background-color: #fbac66;*/
  padding: 7rem 0;
  height: 50rem;
}

.donation_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text qr";
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  padding: 0 50px;
}

.donation_content {
  grid-area: text;
  color: #131313;
  width: 100%;
}


.donation_content h3 {
  font-size: 1.1rem;
  text-align: justify;
  color: rgb(49, 49, 49);
  margin-bottom: 13px;
  justify-content: center;
  text-align: center;
}

.donation_qrcode-container {
  grid-area: qr;
  text-align: center;
  align-items: center;
  justify-content: right;
  display: flex;
}

.donation_qrcode {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #5d71a2 0%, #19264b 100%);
}

.donation_text {
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .donation {
    height: 100%;
  }

  .donation_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "text"
      "qr";
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .donation_qrcode-container {
    display: flex;
    justify-content: center;
  }

  .donation_qrcode {
    height: 425px;
    width: 425px;
  }

  .donation_content {
    text-align: center;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .donation_content h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .donation_content h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .donation_qrcode {
    width: 250px;
    height: 370px;
  }

  .donation_content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .donation_content h3 {
    font-size: 1rem;
    text-align: center;
  }
}

/*
/* ? Footer */
.footer_container {
  background-color: #fbac66;
  padding: 40px 0;
}

.footer_links {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 0px 12%;
  text-align: center;
}

.footer_link-items h2 {
  font-size: 1.5rem;
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;
  background-color: #2a4eaf;
  background-image: linear-gradient(to top, #133081 0%, #2d50aa 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.footer_link-items a {
  font-size: 16px;
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
}

.contact_button-footer {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.contact_button-footer i {
  font-size: 40px;
  padding: 0px 5px;
  transition: all 0.4s ease;
}

.contact_button-footer i:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
  background-image: linear-gradient(to top, #355bb9 0%, #28375f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.footer_contact-map i {
  display: inline-block;
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
  transition: all 0.4s ease;
  color: white;
}

.footer_contact-map i:hover {
  transform: scale(1.15);
  transition: all 0.3s ease;
  background-image: linear-gradient(to top, #355bb9 0%, #28375f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.footer_contact-map {
  text-decoration: none;
}

.footer_map{
  width: 285px;
  height: 170px;
  border-radius: 15px;
  transition: .5s;
}

.footer_map:hover{
  transform: scale(1.07);
  transition: .5s;
  box-shadow: 0px 0px 10px 3px #0000003e;

}

@media screen and (max-width: 768px) {
  .footer_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .footer_links {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .footer_link-items h2 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .footer_link-items a {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .contact_button-footer i {
    font-size: 30px;
  }

  .contact_button:hover i {
    font-size: 30px;
  }

  .footer_contact-map i {
    font-size: 40px;
  }
}
